th, td{
    padding: 5px 30px 5px 10px;
    text-align: left;
    font-size: 90%;
    margin: 0;
    background-color: #e0e9f0;
    border-top: 1px solid #f1f8fe;
    border-bottom: 1px solid #cbd2d8;
    border-right: 1px solid #cbd2d8;
}
tr.head th {
    color: #fff;
    background-color: #90b4d6;
    border-bottom: 2px solid #547ca0;
    border-right: 1px solid #749abe;
    border-top: 1px solid #90b4d6;
    text-align: center;
    text-shadow: -1px -1px 1px #ffffff;
}
table {
    border-spacing: 0;
}
fieldset { width: 310px}

tr:first-child {
    background-color: #76a2ed;
    color: white;
    font-weight: bold;
    align-content: center;
}
tr:nth-child(even) {
    background-color: #d9e9f6;
}

ul {
    list-style-image: url("../images/icon-plus.png");
    line-height: 1.6em;
}
form {
    border: 1px;


}
body {
    background-color: #ece9e9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
}